<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SecureHttp" messageEncoding="Mtom">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://spectreyggdra/UNET_Service/Service1.svc" binding="wsHttpBinding" bindingConfiguration="SecureHttp" contract="UNET_Service.IService1" name="SecureHttp"/>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="TraineeID" value="1"/>
    <!-- In UWT the config values below are in config.cpp and are read as a json file. In this case, we simply read them using 
    the configuration manager
    for writing to these values, we use the technique described in this topic: https://www.codeproject.com/kb/cs/systemconfiguration.aspx-->
    <add key ="sipServer" value="10.0.1.101"/>
    <add key ="sipPort" value="5060"/>
    <add key ="sipDomain" value="uwt"/>
    <add key ="port" value="5060"/>
    <add key ="sipAccount" value="UWT"/>
    <add key ="logLevel" value="2"/>

    <add key ="sipRetry" value="30"/>
    <add key ="sipTimeOut" value="60"/>

    <!--<add key ="ecaServer" value="127.0.0.1"/>
    <add key ="ecaPort" value="2868"/>-->

    <!--<add key ="maxPlatformDistance" value="4000"/>
    <add key ="maxPlatformVolume" value="70"/>
    <add key ="minPlatformVolume" value="1"/>-->

    <add key ="maxVoiceVolume" value="100"/>
    <add key ="minVoiceVolume" value="10"/>
    <add key ="voiceVolumeSweep" value="60"/>

    <add key ="systemUserName" value="udooer"/>
  </appSettings>
  </configuration>
