<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XPUEESSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <XPUEESSaver.Properties.Settings>
      <setting name="XPUEESSaver_Computerfuel_ServiceESSaver" serializeAs="String">
        <value>
          http://computerfuel.nl/serviceessaver.asmx
        </value>
      </setting>
    </XPUEESSaver.Properties.Settings>
  </applicationSettings>
</configuration>
