<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="TraineeID" value="1012"/>
    <!-- In UWT the config values below are in config.cpp and are read as a json file. In this case, we simply read them using 
    the configuration manager
    for writing to these values, we use the technique described in this topic: https://www.codeproject.com/kb/cs/systemconfiguration.aspx-->
    <add key="sipServer" value="10.0.128.128"/>
    <add key="sipPort" value="5060"/>
    <add key="sipDomain" value="unet"/>
    <add key="port" value="5060"/>
    <!--test account voor deze instantie-->
    <add key="sipAccount" value="1012"/>
    <add key="sipPassword" value="1234"/>
    <add key="logLevel" value="4"/>
    <add key="maxcalls" value="10"/>
    <add key="maxports" value="100"/>
    <add key="sndClockRate" value="16000"/>
    <add key="Timeout" value="30000"/>
    <add key="sipRetry" value="30"/>
    <add key="sipTimeOut" value="60"/>
    <add key="maxVoiceVolume" value="100"/>
    <add key="minVoiceVolume" value="10"/>
    <add key="voiceVolumeSweep" value="60"/>
    <add key="systemUserName" value="frank"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureHttp" messageEncoding="Mtom">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://spectreyggdra/UNET_Service/Service1.svc" binding="wsHttpBinding" bindingConfiguration="SecureHttp" contract="UNET_Service.IService1" name="SecureHttp"/>
    </client>
  </system.serviceModel>
</configuration>
