<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <!-- todo: alternatief voor MTOM vinden-->
                       openTimeout="00:00:30"
              <binding name="SecureHttp" messageEncoding="Mtom" 
      closeTimeout="00:00:30"
      sendTimeout="00:05:00"
      receiveTimeout="00:20:00">
                <reliableSession inactivityTimeout="24:20:31"/>
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://spectreyggdra/UNET_Service/Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="SecureHttp"
                contract="UNET_Service.IService1" name="SecureHttp" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="InstructorID" value="1016"/>
    <!-- todo: vervangen door sipaccount-->

  </appSettings>
</configuration>
